bleach==3.3.0
blingfire==0.1.7
databricks-cli==0.14.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
filelock==3.0.12
flashtext==2.7
gensim==4.0.1
ir_datasets==0.4.0
https://github.com/kpu/kenlm/archive/master.zip
lightgbm==3.2.1
matplotlib==3.4.2
nlpre==2.1.1
nltk==3.6.2
git+https://github.com/Georgetown-IR-Lab/OpenNIR.git
numpy==1.20.3
pandas==1.2.4
pycparser==2.20
Pygments==2.9.0
pyjnius==1.3.0
pyparsing==2.4.7
git+https://github.com/terrierteam/pyterrier_t5.git@02eb202169b2672567e75a6f04720f7fc1dbc15b
requests==2.25.1
seaborn==0.11.1
sentencepiece==0.1.95
sklearn==0.0
tqdm==4.61.1
transformers==4.7.0
torch>=1.9.0
python-terrier>=0.8.1
